<table class="current-driver-standings compact" data-controller="sortable-table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="d-none d-sm-table-cell"></th>
            <th class="d-none d-md-table-cell"></th>
            <th data-sort="text">Driver</th>
            <th class="text-center" title="Points" data-sort="num">Pts</th>
            <th class="text-center d-none d-sm-table-cell" title="Wins" data-sort="num">W</th>
            <th class="text-center d-none d-md-table-cell" title="Second places" data-sort="num">2nd</th>
            <th class="text-center d-none d-md-table-cell" title="Third places" data-sort="num">3rd</th>
            <th class="text-center d-none d-lg-table-cell" title="Podiums" data-sort="num">Pod</th>
            <th class="text-center" title="Elo Rating" data-sort="num">Elo</th>
            <th class="text-center d-none d-sm-table-cell" title="Elo change from last race" data-sort="num">+/-</th>
        </tr>
    </thead>
    <tbody>
        <% driver_standings.each_with_index do |driver_standing, index| %>
            <% extras = standings_extras[driver_standing.driver_id] || {} %>
            <tr class="<%= 'podium-row podium-p' + (index + 1).to_s if index < 3 %>">
                <td class="text-center position-cell"><%= index + 1 %></td>
                <td class="icon-cell d-none d-sm-table-cell">
                    <% if driver_standing.driver.country.present? %>
                        <img src="https://flagsapi.com/<%= driver_standing.driver.country.two_letter_country_code %>/shiny/24.png"
                             width="24" height="24" loading="lazy"
                             alt="Flag of <%= driver_standing.driver.country.name %>">
                    <% end %>
                </td>
                <td class="icon-cell constructor-logos d-none d-md-table-cell">
                    <% (extras[:constructors] || []).each do |constructor| %>
                        <%= link_to constructor_path(constructor) do %>
                            <% if constructor.logo_url.present? %>
                                <img src="<%= constructor.logo_url %>" alt="<%= constructor.name %>" class="constructor-logo-sm"
                                     onerror="this.style.display='none'">
                            <% else %>
                                <span class="text-secondary" style="font-size: 11px;"><%= constructor.name %></span>
                            <% end %>
                        <% end %>
                    <% end %>
                </td>
                <td>
                    <%= link_to driver_path(driver_standing.driver) do %>
                        <%= driver_standing.driver.forename[0] %>.<%= driver_standing.driver.surname %>
                    <% end %>
                </td>
                <td class="text-center"><%= driver_standing.points&.round %></td>
                <td class="text-center d-none d-sm-table-cell"><%= driver_standing.wins || 0 %></td>
                <td class="text-center d-none d-md-table-cell"><%= driver_standing.second_places || 0 %></td>
                <td class="text-center d-none d-md-table-cell"><%= driver_standing.third_places || 0 %></td>
                <td class="text-center d-none d-lg-table-cell"><%= driver_standing.podiums || 0 %></td>
                <td class="text-center"><%= extras[:elo] %></td>
                <td class="text-center d-none d-sm-table-cell">
                    <% if extras[:elo_diff] %>
                        <span class="<%= extras[:elo_diff] >= 0 ? 'text-green' : 'text-red' %>"><%= extras[:elo_diff] >= 0 ? "+#{extras[:elo_diff]}" : extras[:elo_diff] %></span>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
