<%= custom_chart Graphs::Ranking.new(season: @season).season_driver_standings_data %>

<div class="table-header"> 
    <% if @next_season %>
        <%= link_to season_path(Season.find_by(year: "#{@season.year.to_i + 1}")) do %>
            <i class="fa-solid fa-angles-left"></i>
        <% end %>
    <% end %>
    <h3><%= @season.year %></h3> 
    <% if @last_season %>
        <%= link_to season_path(Season.find_by(year: "#{@season.year.to_i - 1}")) do %>
            <i class="fa-solid fa-angles-right"></i>
        <% end %>
    <% end %>
</div>
<%= render 'driver_standings_table', driver_standings: @season.latest_driver_standings, season: @season %>