<%= simple_form_for :search, url: races_path, method: :get do |f| %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.submit %>
<% end %>

<% @races.each do |race| %>
    <% race.sorted_race_results.each_with_index do |race_result, index| %>
        <%= link_to driver_path(race_result.driver) do %>
            <span class="place-<%= index + 1 %>"><i class="fa-solid fa-trophy"></i></span><%= race_result.driver.surname %>
        <% end %>
    <% end %>
    <%= link_to race_path(race) do %>
        - <%= race.circuit.circuit_ref %> <%= race.date.year %>
    <% end %>
    <br>
<% end %>
