<div class="homepage-container">
    <div class="table-header">
        <h3>All Races</h3>
        <% if @filtered %>
            <%= link_to "Clear filter", races_path, class: "race-filter-clear" %>
        <% end %>
    </div>

    <div class="race-filter-bar">
        <%= form_tag races_path, method: :get, class: "race-filter-form" do %>
            <label class="race-filter-label">From</label>
            <%= select_tag :from_year,
                options_for_select(
                    @all_seasons.map { |s| [s.year, s.year.to_i] },
                    @from_year || @all_seasons.last&.year.to_i
                ),
                class: "race-filter-select" %>
            <label class="race-filter-label">To</label>
            <%= select_tag :to_year,
                options_for_select(
                    @all_seasons.map { |s| [s.year, s.year.to_i] },
                    @to_year || @all_seasons.first&.year.to_i
                ),
                class: "race-filter-select" %>
            <%= submit_tag "Filter", class: "race-filter-submit" %>
        <% end %>
    </div>

    <% upcoming_races = @show_all_upcoming ? @all_upcoming.to_a : @upcoming_preview.to_a %>
    <% if upcoming_races.present? %>
        <div class="season-group">
            <div class="season-year-label">
                <% season = @seasons_by_year[@current_season.year.to_i] %>
                <% if season %>
                    <%= link_to @current_season.year, season_path(season) %>
                <% else %>
                    <%= @current_season.year %>
                <% end %>
                <span class="upcoming-label">Upcoming</span>
            </div>
            <div class="card card-flush races-table">
                <div class="table-scroll-wrapper">
                <table>
                    <tbody>
                        <% upcoming_races.each do |race| %>
                            <tr class="upcoming-race-row">
                                <td class="driver" colspan="3">
                                    <span class="text-upcoming-date"><%= race.date.strftime("%b %-d") %></span>
                                </td>
                                <td class="race">R<%= race.round %></td>
                                <td class="circuit">
                                    <%= link_to race.circuit.name, circuit_path(race.circuit) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>
                <% if !@show_all_upcoming && @upcoming_total > 3 %>
                    <div class="upcoming-more-row">
                        <%= link_to races_path(show_upcoming: "1"), class: "upcoming-more-link" do %>
                            <i class="fa-solid fa-angles-down"></i> Show all <%= @upcoming_total %> upcoming races
                        <% end %>
                        <span class="upcoming-more-divider">|</span>
                        <%= link_to "#{@current_season.year} Calendar", calendar_races_path, class: "upcoming-more-link" %>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>

    <% @races.group_by(&:year).each do |year, races| %>
        <% season = @seasons_by_year[year] %>
        <div class="season-group">
            <div class="season-year-label">
                <% if season %>
                    <%= link_to "#{year}", season_path(season) %>
                <% else %>
                    <%= year %>
                <% end %>
            </div>
            <div class="card card-flush races-table">
                <div class="table-scroll-wrapper">
                <table>
                    <tbody>
                        <% races.each do |race| %>
                            <tr>
                                <% podium = race.race_results.sort_by { |rr| rr.position_order || 999 }.first(3) %>
                                <% if podium.present? %>
                                    <% podium.each_with_index do |race_result, index| %>
                                        <td class="driver">
                                            <%= link_to driver_path(race_result.driver) do %>
                                                <span class="place-<%= index + 1 %>"><i class="fa-solid fa-trophy"></i></span>
                                                <% constructor = race_result.constructor %>
                                                <% if constructor&.logo_url.present? %>
                                                    <img src="<%= constructor.logo_url %>" alt="" class="constructor-logo-xs">
                                                <% end %>
                                                <%= race_result.driver.forename&.first %>.<%= race_result.driver.surname %>
                                            <% end %>
                                        </td>
                                    <% end %>
                                <% else %>
                                    <td class="driver" colspan="3">
                                        <span class="text-secondary text-upcoming">Upcoming</span>
                                    </td>
                                <% end %>
                                <td class="race">
                                    <% if race.race_results.present? %>
                                        <%= link_to "R#{race.round}", race_path(race) %>
                                    <% else %>
                                        -
                                    <% end %>
                                </td>
                                <td class="circuit">
                                    <%= link_to race.circuit.name, circuit_path(race.circuit) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    <% end %>

    <% if !@filtered && @has_more %>
        <div class="race-load-more">
            <%= link_to races_path(seasons: @seasons_shown + 4), class: "race-load-more-btn" do %>
                <i class="fa-solid fa-angles-down"></i> Load more seasons
            <% end %>
        </div>
    <% end %>
</div>
