<div class="homepage-container">
    <div class="page-hero page-hero-compact">
        <div class="page-hero-bg"></div>
        <div class="page-hero-content">
            <span class="page-hero-label">All-Time</span>
            <h1 class="page-hero-title">Podium Leaders</h1>
        </div>
    </div>
    <div class="card card-flush">
        <div class="table-scroll-wrapper">
        <table class="current-driver-standings compact podium-leaders" data-controller="sortable-table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="d-none d-sm-table-cell"></th>
                    <th data-sort="text">Driver</th>
                    <th class="text-center" title="Total Podiums" data-sort="num">Pod</th>
                    <th class="text-center d-none d-sm-table-cell" title="Wins" data-sort="num">W</th>
                    <th class="text-center d-none d-md-table-cell" title="Second Places" data-sort="num">2nd</th>
                    <th class="text-center d-none d-md-table-cell" title="Third Places" data-sort="num">3rd</th>
                    <th class="text-center d-none d-sm-table-cell" data-sort="num">Peak Elo</th>
                </tr>
            </thead>
            <tbody>
                <% @drivers.each_with_index do |driver, index| %>
                    <tr class="<%= 'podium-row podium-p' + (index + 1).to_s if index < 3 %>">
                        <td class="text-center"><%= index + 1 %></td>
                        <td class="icon-cell d-none d-sm-table-cell">
                            <% if driver.country.present? %>
                                <img src="https://flagsapi.com/<%= driver.country.two_letter_country_code %>/shiny/24.png" alt="<%= driver.country.name %>" loading="lazy" onerror="this.style.display='none'">
                            <% end %>
                        </td>
                        <td>
                            <%= link_to driver_path(driver) do %>
                                <%= driver.forename[0] %>.<%= driver.surname %>
                            <% end %>
                        </td>
                        <td class="text-center"><%= driver.podiums %></td>
                        <td class="text-center d-none d-sm-table-cell"><%= driver.wins %></td>
                        <td class="text-center d-none d-md-table-cell"><%= driver.second_places %></td>
                        <td class="text-center d-none d-md-table-cell"><%= driver.third_places %></td>
                        <td class="text-center d-none d-sm-table-cell"><%= elo_link(driver.display_peak_elo) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>
