<div class="homepage-container">
    <div class="page-back-link">
        <%= link_to stats_path do %>
            <i class="fa-solid fa-arrow-left"></i> Stats
        <% end %>
    </div>
    <div class="page-hero page-hero-compact">
        <div class="page-hero-bg"></div>
        <div class="page-hero-content">
            <span class="page-hero-label"><i class="fa-solid fa-trophy" style="color: #f0c850;"></i> Hall of Fame</span>
            <h1 class="page-hero-title">World Champions</h1>
        </div>
    </div>
    <div class="card">
        <%= custom_chart Graphs::Champions.new(race_results: @champ_race_results).champions_data %>
    </div>

    <div class="card">
        <div class="chart-header">
            <h4>Championship Count</h4>
        </div>
        <%= custom_chart Graphs::ChampionshipCount.new(champion_data: @champion_data).data %>
    </div>

    <div class="card card-flush">
        <div class="table-scroll-wrapper">
        <table class="current-driver-standings compact" data-controller="sortable-table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th data-sort="text">Driver</th>
                    <th class="text-center" data-sort="num">Titles</th>
                    <th class="d-none d-sm-table-cell">Championship Years</th>
                    <th class="text-center d-none d-sm-table-cell" data-sort="num">Peak Elo</th>
                </tr>
            </thead>
            <tbody>
                <% @champion_data.each_with_index do |(driver, data), idx| %>
                    <tr>
                        <td class="text-center position-cell"><%= idx + 1 %></td>
                        <td>
                            <% if driver.country.present? %>
                                <img src="https://flagsapi.com/<%= driver.country.two_letter_country_code %>/shiny/24.png" alt="" loading="lazy" onerror="this.style.display='none'" class="flag-inline">
                            <% end %>
                            <%= link_to "#{driver.forename} #{driver.surname}", driver_path(driver) %>
                            <% if data[:count] > 1 %>
                                <span class="title-badge champion title-count-inline"><%= data[:count] %>x</span>
                            <% end %>
                        </td>
                        <td class="text-center font-bold"><%= data[:count] %></td>
                        <td class="d-none d-sm-table-cell"><%= data[:years].join(", ") %></td>
                        <td class="text-center d-none d-sm-table-cell"><%= elo_link(driver.display_peak_elo) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>
