<div class="hero-intro">
    <span class="hero-season-year"><%= @season.year %></span>
    <h1>F1 Elo Ratings</h1>
    <p class="subtitle"><%= @races_completed %> of <%= @total_races %> races completed</p>

    <% if @next_session %>
        <div class="countdown-timer"
             data-controller="countdown"
             data-countdown-target-value="<%= @next_session[:starts_at].iso8601 %>"
             data-countdown-label-value="<%= @next_session[:name] %> in">
        </div>
    <% end %>
</div>
