<div class="hero-intro champion-hero">
    <span class="champion-label"><i class="fa-solid fa-trophy"></i> <%= @season.year %> World Champion</span>
    <h1>
        <% if @champion.country.present? %>
            <img src="https://flagsapi.com/<%= @champion.country.two_letter_country_code %>/shiny/32.png" alt="" loading="lazy" onerror="this.style.display='none'" class="flag-inline">
        <% end %>
        <%= link_to "#{@champion.forename} #{@champion.surname}", driver_path(@champion) %>
    </h1>
    <div class="champion-details">
        <% if @champion_constructor&.logo_url.present? %>
            <img src="<%= @champion_constructor.logo_url %>" alt="<%= @champion_constructor.name %>" class="constructor-logo-sm" onerror="this.style.display='none'">
        <% end %>
        <span class="champion-stats">
            <%= @champion_standing.points&.round %> pts
            <% if @champion_standing.wins.to_i > 0 %> · <%= @champion_standing.wins %> wins<% end %>
            <% if @champion.display_peak_elo %> · Peak Elo <%= elo_link(@champion.display_peak_elo) %><% end %>
        </span>
    </div>
    <%= link_to season_path(@season), class: "champion-season-link" do %>
        View Full Season <i class="fa-solid fa-arrow-right"></i>
    <% end %>
</div>
