<div class="latest-result-strip">
    <div class="latest-result-label">
        <i class="fa-solid fa-flag-checkered"></i>
        <%= link_to race.circuit.name, race_path(race) %>
    </div>
    <div class="latest-result-podium">
        <% podium&.each do |result| %>
            <span class="latest-result-driver">
                <span class="latest-result-pos place-<%= result.position_order %>">P<%= result.position_order %></span>
                <% color = constructor_color(result.constructor) %>
                <span class="latest-result-name" style="border-color: <%= color %>"><%= result.driver.surname %></span>
            </span>
        <% end %>
    </div>
    <%= link_to race_path(race), class: "latest-result-link" do %>
        Results <i class="fa-solid fa-arrow-right"></i>
    <% end %>
</div>
