<div class="session-timeline">
    <% sessions.each_with_index do |session, idx| %>
        <div class="session-item session-<%= session[:status] %>">
            <div class="session-dot-row">
                <% if idx > 0 %>
                    <div class="session-connector session-connector-before">
                        <div class="session-connector-fill" style="width: <%= session[:connector_before_fill] %>%"></div>
                    </div>
                <% end %>
                <div class="session-status-dot"></div>
                <% if idx < sessions.length - 1 %>
                    <div class="session-connector session-connector-after">
                        <div class="session-connector-fill" style="width: <%= session[:connector_after_fill] %>%"></div>
                    </div>
                <% end %>
            </div>
            <div class="session-info">
                <span class="session-name"><%= session[:name] %></span>
                <span class="session-date"><%= session[:date].strftime("%a") %></span>
                <% if session[:starts_at] %>
                    <span class="session-time"><%= session[:starts_at].strftime("%H:%M") %></span>
                <% end %>
            </div>
            <div class="session-badge">
                <% if session[:status] == :done %>
                    <span class="badge-done"><i class="fa-solid fa-check"></i></span>
                <% elsif session[:status] == :today %>
                    <span class="badge-today"><i class="fa-solid fa-circle"></i> Today</span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
