<div class="homepage-container">
    <% if @season %>
        <%# 1. Contextual Hero %>
        <% case @homepage_phase %>
        <% when :season_start %>
            <%= render "pages/hero_season_start" %>
        <% when :season_complete %>
            <%= render "pages/hero_season_complete" %>
        <% when :post_race %>
            <%= render "pages/hero_post_race" %>
        <% when :race_day %>
            <%= render "pages/hero_race_day" %>
        <% when :race_weekend %>
            <%= render "pages/hero_race_weekend" %>
        <% when :pre_race %>
            <%= render "pages/hero_pre_race" %>
        <% else %>
            <%= render "pages/hero_default" %>
        <% end %>

        <%# 2. Current Season Standings (if races have happened) %>
        <% if @season.latest_driver_standings&.any? %>
            <div class="chart-container">
                <h4 class="chart-title">Championship Standings</h4>
                <%= custom_chart Graphs::Ranking.new(season: @season).season_driver_standings_data %>
            </div>

            <div class="table-header">
                <%= link_to season_path(@season), class: "table-header-link" do %>
                    <h3><%= @season.year %> Championship Standings <i class="fa-solid fa-arrow-right"></i></h3>
                <% end %>
            </div>
            <div class="card card-flush">
                <div class="table-scroll-wrapper">
                    <%= render 'seasons/driver_standings_table', driver_standings: @season.latest_driver_standings, season: @season, standings_extras: @standings_extras %>
                </div>
            </div>
        <% end %>

        <%# 3. Current Season Driver Grid %>
        <% if @season_drivers&.any? %>
            <div class="table-header">
                <%= link_to grid_drivers_path, class: "table-header-link" do %>
                    <h3><%= @season.year %> Driver Grid <i class="fa-solid fa-arrow-right"></i></h3>
                <% end %>
            </div>
            <div class="card card-flush">
                <div class="table-scroll-wrapper">
                    <%= render 'drivers/grid_table', season_drivers: @season_drivers, grid_standings: @grid_standings, grid_prev_standings: @grid_prev_standings %>
                </div>
            </div>
        <% end %>

        <%# 4. Next Race %>
        <% unless [:race_weekend, :race_day, :pre_race, :season_start].include?(@homepage_phase) %>
            <% if @next_race && @next_race.date > @today %>
                <div class="card next-race-card">
                    <span class="next-race-label">Next Race</span>
                    <h4><%= link_to @next_race.circuit.name, circuit_path(@next_race.circuit) %></h4>
                    <span class="next-race-meta">
                        Round <%= @next_race.round %> · <%= @next_race.date.strftime("%B %d, %Y") %>
                        <% if @next_race.starts_at %> · <%= @next_race.starts_at.strftime("%H:%M UTC") %><% end %>
                    </span>
                </div>
            <% end %>
        <% end %>

        <%# 5. Previous Season Recap %>
        <% if @standings_season && @standings_season != @season %>
            <div class="table-header">
                <%= link_to season_path(@standings_season), class: "table-header-link" do %>
                    <h3><%= @standings_season.year %> Season <i class="fa-solid fa-arrow-right"></i></h3>
                <% end %>
            </div>

            <% top3 = @standings_season.latest_driver_standings&.first(3) %>
            <% if top3&.any? %>
                <div class="card last-race-card">
                    <div class="last-race-header">
                        <h4>Drivers</h4>
                    </div>
                    <div class="podium-display">
                        <% top3.each do |ds| %>
                            <% constructor = @recap_constructors[ds.driver_id] %>
                            <div class="podium-item podium-p<%= ds.position %>"
                                 style="--constructor-color: <%= Constructor::COLORS[constructor&.constructor_ref&.to_sym] || '#6c757d' %>">
                                <span class="podium-position place-<%= ds.position %>">P<%= ds.position %></span>
                                <span class="podium-driver"><%= link_to "#{ds.driver.forename&.first}.#{ds.driver.surname}", driver_path(ds.driver) %></span>
                                <span class="stat-detail"><%= ds.points&.round %> pts · <%= ds.wins || 0 %> wins</span>
                                <%= constructor_logo_or_name(constructor) %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>

            <% if @constructor_top3&.any? %>
                <div class="card last-race-card">
                    <div class="last-race-header">
                        <h4>Constructors</h4>
                    </div>
                    <div class="podium-display">
                        <% @constructor_top3.each_with_index do |entry, idx| %>
                            <% pos = idx + 1 %>
                            <% constructor = entry[:constructor] %>
                            <% color = Constructor::COLORS[constructor&.constructor_ref&.to_sym] || '#6c757d' %>
                            <div class="podium-item podium-p<%= pos %>"
                                 style="--constructor-color: <%= color %>">
                                <span class="podium-position place-<%= pos %>">P<%= pos %></span>
                                <span class="podium-driver">
                                    <%= link_to constructor.name, constructor_path(constructor) %>
                                </span>
                                <span class="stat-detail"><%= entry[:points]&.round %> pts · <%= entry[:wins] %> wins</span>
                                <%= constructor_logo_or_name(constructor) %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>

        <%# 6. Fantasy portfolio card %>
        <% if current_user && @fantasy_portfolio %>
            <%= render "fantasy_portfolios/portfolio_card", portfolio: @fantasy_portfolio %>
        <% end %>
    <% else %>
        <div class="empty-state">
            <i class="fa-solid fa-flag-checkered"></i>
            <h3>No season data yet</h3>
            <p>Import F1 season data to see championship standings and Elo ratings.</p>
        </div>
    <% end %>
</div>
