<div class="race-result grid">
    <div class="race-result-position-order grid-item text-center">
        <%= race_result.position_order %>
    </div>
    <% if race_result.gained_elo? %>
        <div class="text-green grid-item d-flex justify-content-between">
            <span class="left"><i class="fa-solid fa-caret-up"></i></span><span class="right"><%= race_result.elo_diff.round(1) %></span>
        </div>
    <% else %>
        <div class="text-red grid-item d-flex justify-content-between">
            <span class="left"><i class="fa-solid fa-caret-down"></i></span><span class="right"><%= race_result.elo_diff.round(1) %></span>
        </div>
    <% end %>
    <div class="race-result-elos grid-item d-flex justify-content-evenly">
        <span class="left old-elo"><%= race_result.old_elo.round %></span>
        <span class="center"><i class="fa-solid fa-caret-right"></i></span>
        <span class="right new-elo <%= 'underline' if race_result.driver.peak_elo == race_result.new_elo %>"><%= race_result.new_elo.round %></span>
    </div>
    <div class="race-result-status-type grid-item text-center <%= finished?(race_result.status.status_type) ? 'text-green' : 'text-red' %>">
        <%= race_result.status.status_type %>
    </div>
    <div class="race-result-constructor grid-item text-center">
        <%= link_to constructor_path(race_result.constructor) do %>
            <img src="<%= race_result.constructor.logo_url %>" alt="" style="width: 32px; height: 32px;">
        <% end %>
    </div>
    <div class="race-result-constructor grid-item text-center">
        <%= race_result.race.circuit.circuit_ref %>
    </div>
    <div class="race-result-constructor grid-item text-center">
        <%= race_result.race.date.strftime("%b %d, %Y") %>
    </div>
    <div class="race-result-constructor grid-item text-center">
        <%= link_to "Round #{race_result.race.round}", race_path(race_result.race) %>
    </div>
</div>
