<div class="layout-grid">
    <div class="grid-sidebar">
        <%=  simple_form_for :search, url: drivers_path, method: :get, data: { 
                controller: "search-form", 
                search_form_target: "form", 
                turbo_frame: "drivers",
                turbo_action: "advance",
                action: "input->search-form#submit"
            } do |f| %>
            <%= f.input :query,placeholder: "Search by name",
                class: "border border-blue-500 rounded p-2",
                autocomplete: "off",
                data: { action: "input->search-form#search" } %>
            <%= f.submit %>
        <% end %>
    </div>
    <%= turbo_frame_tag "drivers" do %>
        <%= render 'drivers', drivers: @drivers %>
    <% end %>
</div>
