<div class="layout-grid">
    <div class="grid-sidebar">
        <%= @driver.fullname %>
        <div class="season-champion">
            <% if @season_1st_place_finishes.present? %>
                <%= @season_1st_place_finishes.count %>x Champion
            <% end %>
        </div>
        <div class="season-runner-up">
            <% if @season_2nd_place_finishes.present? %>
                <%= @season_2nd_place_finishes.count %>x Runner Up
            <% end %>
        </div>
        <div class="season-3rd">
            <% if @season_3rd_place_finishes.present? %>
                <%= @season_3rd_place_finishes.count %>x 3rd Place
            <% end %>
        </div>
        <%= link_to @driver.current_constructor.name, constructor_path(@driver.current_constructor) %>
        <img src="<%= @driver.image_url%>" alt="" style="width: 160px; height: 200px; object-fit: cover">
        <div class="profile-section lifetime-Podiums">
            <div>Lifetime Podiums</div>
            <div class="race-trophy-case">
                <div class="race-2nd-place">
                    <div class="place-2"><i class="fa-solid fa-trophy"></i></div>
                    <div class="box"><%= @driver.race_results.where(position_order: 2).count %></div>
                </div>

                <div class="race-wins">
                    <div class="place-1"><i class="fa-solid fa-trophy"></i></div>
                    <div class="box"><%= @driver.race_results.where(position_order: 1).count %></div>
                </div>

                <div class="race-3rd-place">
                    <div class="place-3"><i class="fa-solid fa-trophy"></i></div>
                    <div class="box"><%= @driver.race_results.where(position_order: 3).count %></div>
                </div>
            </div>
            <div class="race-4th-place">
               <span class="place-4"><i class="fa-solid fa-trophy"></i></span>x<%= @driver.race_results.where(position_order: 4).count %>
            </div>
        </div>
        <div class="profile-section season-finishes">
            <div>Seasons</div>
            <div class="profile-seasons">

                <% @driver.driver_standings.where(season_end: true).sort_by(&:race).reverse.each do |driver_standing| %>
                    <div class="place-<%= driver_standing.position%>">
                        <%= link_to driver_standing.race.season.year, season_path(driver_standing.race.season), class: "place-#{driver_standing.position}"  %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="grid-main">
        <%= custom_chart Graphs::Line.new(driver: @driver).driver_data %>
        <%= render @driver.race_results.sort_by { |r| r.race.date }.reverse %>
    </div>
</div>
