<div class="layout-grid">
    <div class="grid-sidebar">
        <%= link_to @driver.current_constructor.name, constructor_path(@driver.current_constructor) %>
    </div>
    <div class="grid-main">
        <%= custom_chart Graphs::Line.new(driver: @driver).driver_data %>
        <div class="season-trophy-case">
            <div class="season-wins">
                <% @driver.driver_standings.where(position: 1, season_end: true).sort_by(&:race).each do |driver_standing| %>
                    <div class="place-1">
                        <%= link_to driver_standing.race.season.year, season_path(driver_standing.race.season), class: "place-1"  %>
                    </div>
                <% end %>
            </div>
            <div class="season-2nd-place">
                <% @driver.driver_standings.where(position: 2, season_end: true).sort_by(&:race).each do |driver_standing| %>
                    <div class="place-2">
                        <%= link_to driver_standing.race.season.year, season_path(driver_standing.race.season), class: "place-2" %>
                    </div>
                <% end %>
            </div>
            <div class="season-3rd-place">
                <% @driver.driver_standings.where(position: 3, season_end: true).sort_by(&:race).each do |driver_standing| %>
                    <div class="place-3">
                        <%= link_to driver_standing.race.season.year, season_path(driver_standing.race.season), class: "place-3"  %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="race-trophy-case">
            <div class="race-wins">
                <span class="place-1"><i class="fa-solid fa-trophy"></i></span>x<%= @driver.race_results.where(position_order: 1).count %>
            </div>

            <div class="race-2nd-place">
                <span class="place-2"><i class="fa-solid fa-trophy"></i></span>x<%= @driver.race_results.where(position_order: 2).count %>
            </div>

            <div class="race-3rd-place">
                <span class="place-3"><i class="fa-solid fa-trophy"></i></span>x<%= @driver.race_results.where(position_order: 3).count %>
            </div>

            <div class="race-4th-place">
               <span class="place-4"><i class="fa-solid fa-trophy"></i></span>x<%= @driver.race_results.where(position_order: 4).count %>
            </div>
        </div>
        <%= render @driver.race_results.sort_by { |r| r.race.date }.reverse %>
    </div>
</div>

<style>
.season-wins, .season-2nd-place, .season-3rd-place {
    display:flex;
    gap: 4px;
}
</style>